<a href="https://colab.research.google.com/github/PreethiPara/Churn-Modelling-ANN-/blob/main/Churn_prediction_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf

In [ ]:
tf.__version__

'2.9.2'

In [ ]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.shape

(10000, 14)

In [ ]:
x=df.drop(['Exited','RowNumber','CustomerId','Surname'],axis=1)
y=df.Exited
print(x)
print(y)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France  Female   42       2       0.00              1
1             608     Spain  Female   41       1   83807.86              1
2             502    France  Female   42       8  159660.80              3
3             699    France  Female   39       1       0.00              2
4             850     Spain  Female   43       2  125510.82              1
...           ...       ...     ...  ...     ...        ...            ...
9995          771    France    Male   39       5       0.00              2
9996          516    France    Male   35      10   57369.61              1
9997          709    France  Female   36       7       0.00              1
9998          772   Germany    Male   42       3   75075.31              2
9999          792    France  Female   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
...         ...             ...              ...
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]
0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [ ]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
map1={'Female':1,'Male':0}
x.Gender=x['Gender'].map(map1)
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,1,42,2,0.00,1,1,1,101348.88
1,608,Spain,1,41,1,83807.86,1,0,1,112542.58
2,502,France,1,42,8,159660.80,3,1,0,113931.57
3,699,France,1,39,1,0.00,2,0,0,93826.63
4,850,Spain,1,43,2,125510.82,1,1,1,79084.10

In [ ]:
print(x)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France       1   42       2       0.00              1
1             608     Spain       1   41       1   83807.86              1
2             502    France       1   42       8  159660.80              3
3             699    France       1   39       1       0.00              2
4             850     Spain       1   43       2  125510.82              1
...           ...       ...     ...  ...     ...        ...            ...
9995          771    France       0   39       5       0.00              2
9996          516    France       0   35      10   57369.61              1
9997          709    France       1   36       7       0.00              1
9998          772   Germany       0   42       3   75075.31              2
9999          792    France       1   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
...         ...             ...              ...
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]

In [ ]:
#Dummies on the 'Geography' column

temp=pd.get_dummies(df.Geography)
temp.head()
x.drop('Geography',axis=1,inplace=True)
x=pd.concat([x,temp],axis=1)
x.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain
0,619,1,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,1,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,1,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,1,39,1,0.00,2,0,0,93826.63,1,0,0
4,850,1,43,2,125510.82,1,1,1,79084.10,0,0,1

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(x)
p=scaler.transform(x)
print(x)
print(p)

      CreditScore  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0             619       1   42       2       0.00              1          1
1             608       1   41       1   83807.86              1          0
2             502       1   42       8  159660.80              3          1
3             699       1   39       1       0.00              2          0
4             850       1   43       2  125510.82              1          1
...           ...     ...  ...     ...        ...            ...        ...
9995          771       0   39       5       0.00              2          1
9996          516       0   35      10   57369.61              1          1
9997          709       1   36       7       0.00              1          0
9998          772       0   42       3   75075.31              2          1
9999          792       1   28       4  130142.79              1          1

      IsActiveMember  EstimatedSalary  France  Germany  Spain
0                  1        101348.88       1        0      0
1                  1        112542.58       0        0      1
2                  0        113931.57       1        0      0
3                  0         93826.63       1        0      0
4                  1         79084.10       0        0      1
...              ...              ...     ...      ...    ...
9995               0         96270.64       1        0      0
9996               1        101699.77       1        0      0
9997               1         42085.58       1        0      0
9998               0         92888.52       0        1      0
9999               0         38190.78       1        0      0

[10000 rows x 12 columns]
[[0.538      1.         0.32432432 ... 1.         0.         0.        ]
 [0.516      1.         0.31081081 ... 0.         0.         1.        ]
 [0.304      1.         0.32432432 ... 1.         0.         0.        ]
 ...
 [0.718      1.         0.24324324 ... 1.         0.         0.        ]
 [0.844      0.         0.32432432 ... 0.         1.         0.        ]
 [0.884      1.         0.13513514 ... 1.         0.         0.        ]]

In [ ]:

scaler.fit(x_train)
x_train=scaler.transform(x_train)

scaler.fit(x_test)
x_test=scaler.transform(x_test)

In [ ]:
print(x_train)

[[0.634      1.         0.22857143 ... 0.         0.         1.        ]
 [0.154      0.         0.34285714 ... 0.         1.         0.        ]
 [0.37       1.         0.15714286 ... 1.         0.         0.        ]
 ...
 [0.776      0.         0.24285714 ... 1.         0.         0.        ]
 [0.48       1.         0.28571429 ... 0.         0.         1.        ]
 [0.546      1.         0.42857143 ... 0.         1.         0.        ]]

**BUILDING ANN**

In [ ]:
print(x_test)

[[0.47835052 1.         0.22972973 ... 0.         1.         0.        ]
 [0.3257732  1.         0.2972973  ... 1.         0.         0.        ]
 [0.70309278 1.         0.32432432 ... 0.         0.         1.        ]
 ...
 [0.43917526 0.         0.24324324 ... 0.         0.         1.        ]
 [0.58762887 0.         0.21621622 ... 0.         1.         0.        ]
 [0.42886598 0.         0.16216216 ... 0.         1.         0.        ]]

Initializing and Building the ANN

In [ ]:
ann=tf.keras.models.Sequential()

Adding the input layer and the first hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

Adding the second hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

Adding output layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

Compiling the ANN

In [ ]:
ann.compile(optimizer='adam' , loss='binary_crossentropy' , metrics=['accuracy'])

Training ANN on training set

In [ ]:
ann.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6676 - accuracy: 0.5695
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4879 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4689 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4600 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4531 - accuracy: 0.7960
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4475 - accuracy: 0.7987
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4436 - accuracy: 0.8030
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4400 - accuracy: 0.8059
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4366 - accuracy: 0.8058
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4345 - accuracy: 0.8054
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4331 - accuracy: 0.8054
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4317 - accuracy: 0.8074
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4310 - accuracy: 0.8056
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4302 - accuracy: 0.8074
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4298 - accuracy: 0.8059
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4285 - accuracy: 0.8071
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4262 - accuracy: 0.8087
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4225 - accuracy: 0.8109
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4175 - accuracy: 0.8140
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4144 - accuracy: 0.8159
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4112 - accuracy: 0.8184
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4095 - accuracy: 0.8183
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4076 - accuracy: 0.8194
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4054 - accuracy: 0.8199
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4043 - accuracy: 0.8201
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4030 - accuracy: 0.8229
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8242
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4001 - accuracy: 0.8242
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3994 - accuracy: 0.8244
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3976 - accuracy: 0.8232
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3967 - accuracy: 0.8242
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3963 - accuracy: 0.8231
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3945 - accuracy: 0.8249
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3940 - accuracy: 0.8238
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3923 - accuracy: 0.8267
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3916 - accuracy: 0.8271
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3906 - accuracy: 0.8271
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3886 - accuracy: 0.8291
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3891 - accuracy: 0.8274
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3885 - accuracy: 0.8298
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3872 - accuracy: 0.8288
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3866 - accuracy: 0.8296
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3857 - accuracy: 0.8292
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3849 - accuracy: 0.8309
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3840 - accuracy: 0.8296
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3837 - accuracy: 0.8296
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3832 - accuracy: 0.8307
Epoch 48/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3837 - accuracy: 0.8306
Epoch 49/100
250/250 [==============================] - 2s 9ms/step - loss: 0.3823 - accuracy: 0.8316
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3823 - accuracy: 0.8322
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3815 - accuracy: 0.8304
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3812 - accuracy: 0.8315
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3806 - accuracy: 0.8314
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3808 - accuracy: 0.8316
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3797 - accuracy: 0.8336
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3793 - accuracy: 0.8331
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3801 - accuracy: 0.8328
Epoch 58/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3785 - accuracy: 0.8349
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3786 - accuracy: 0.8325
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3781 - accuracy: 0.8331
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3787 - accuracy: 0.8350
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3779 - accuracy: 0.8341
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3773 - accuracy: 0.8344
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3778 - accuracy: 0.8351
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3768 - accuracy: 0.8351
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3772 - accuracy: 0.8359
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3763 - accuracy: 0.8344
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3762 - accuracy: 0.8353
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3766 - accuracy: 0.8347
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3762 - accuracy: 0.8351
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3765 - accuracy: 0.8374
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3755 - accuracy: 0.8363
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3756 - accuracy: 0.8356
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3749 - accuracy: 0.8363
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3749 - accuracy: 0.8365
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3749 - accuracy: 0.8366
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3751 - accuracy: 0.8359
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3743 - accuracy: 0.8356
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3750 - accuracy: 0.8365
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3745 - accuracy: 0.8370
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3736 - accuracy: 0.8380
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3741 - accuracy: 0.8366
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3737 - accuracy: 0.8370
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3736 - accuracy: 0.8394
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3742 - accuracy: 0.8378
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3731 - accuracy: 0.8371
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3741 - accuracy: 0.8371
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3737 - accuracy: 0.8390
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3733 - accuracy: 0.8381
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3732 - accuracy: 0.8390
Epoch 91/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3729 - accuracy: 0.8391
Epoch 92/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3723 - accuracy: 0.8395
Epoch 93/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3729 - accuracy: 0.8391
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3726 - accuracy: 0.8384
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3727 - accuracy: 0.8391
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3727 - accuracy: 0.8396
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3724 - accuracy: 0.8393
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3725 - accuracy: 0.8397
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3722 - accuracy: 0.8403
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3723 - accuracy: 0.8390

In [ ]:
ann.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (32, 6)                   78

 dense_4 (Dense)             (32, 6)                   42

 dense_5 (Dense)             (32, 1)                   7

=================================================================
Total params: 127
Trainable params: 127
Non-trainable params: 0
_________________________________________________________________

France=[1,0,0],spain=[0,0,1],germany=[0,1,0]

Making predictions and evaluating the model

In [ ]:
print(ann.predict(scaler.transform([[600, 1, 40, 3, 60000, 2, 1, 1, 50000,1,0,0],[619	,1,42,	2,	0.00,	1,	1,	1,	101348.88,1,0,0		]])))

1/1 [==============================] - 0s 91ms/step
[[0.13296603]
 [0.38163882]]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [ ]:
y_pred=ann.predict(x_test)
 
print(np.asarray(y_test))
print(y_pred)

63/63 [==============================] - 0s 1ms/step
[0 1 0 ... 0 0 0]
[[0.17283091]
 [0.21080953]
 [0.15517427]
 ...
 [0.30412683]
 [0.12799765]
 [0.10923845]]

In [ ]:
from sklearn.metrics import accuracy_score
y_pred=(y_pred>0.5)

acc=accuracy_score(y_test,y_pred)
print(acc)

0.842

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix
y_test=np.asarray(y_test) #.reshape(1,-1).reshape(len(y_test),1)
print(y_pred)

print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

[[False]
 [False]
 [False]
 ...
 [False]
 [False]
 [False]]
              precision    recall  f1-score   support

           0       0.85      0.98      0.91      1595
           1       0.78      0.31      0.44       405

    accuracy                           0.84      2000
   macro avg       0.81      0.64      0.67      2000
weighted avg       0.83      0.84      0.81      2000

[[1560   35]
 [ 281  124]]

In [ ]:
y_pred=ann.predict(x_test)
y_test_class=np.argmax(y_test,axis=1)
y_pred_class=np.argmax(y_pred,axis=1)

from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(accuracy_score(y_test_class,y_pred_class))
print(classification_report(y_test_class,y_pred_class))
print(confusion_matrix(y_test_class,y_pred_class))

63/63 [==============================] - 0s 1ms/step
1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2000

    accuracy                           1.00      2000
   macro avg       1.00      1.00      1.00      2000
weighted avg       1.00      1.00      1.00      2000

[[2000]]

In [ ]:
param_grid=dict(neurons=neurons,batch_size=batch_size,epochs=epochs,activation=activation,optimizer=optimizer,loss=loss)
from sklearn.model_selection import GridSearchCV
grid=GridSearchCV(estimator=ann,param_grid=param_grid,n_jobs=-1)
grid_result=grid.fit(x_train,y_train)
print(grid_result.best_score_)
print(grid_result.best_params_)


def ann_model(neurons,activation,optimizer,loss):

   ann=tf.keras.models.Sequential()
   ann.add(tf.keras.layers.Dense(units=neurons,activation=activation))
   ann.add(tf.keras.layers.Dense(units=neurons,activation=activation))
   ann.add(tf.keras.layers.Dense(units=2,activation='softmax'))
   ann.compile(optimizer=optimizer,loss=loss,metrics=['accuracy'])
   return ann

#Defining hyperparameters to find best fit

from keras.wrappers.scikit_learn import KerasClassifier
ann=KerasClassifier(build_fn=ann_model,verbose=0)
neurons=[16]
batch_size=[32]
epochs=[100]
activation=['relu']
optimizer=['SGD']
loss=['squared_hinge']

NameError: ignored